@charset "UTF-8";
/* CSS Document */

/* For Boostrap UI */
.nav, .pagination, .carousel a {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Common */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: bacana, verdana, sans-serif;
    font-size: 35pt;
}

p {
    font-family: andale mono, monaco, sans-serif;
    font-size: 12pt;
    color: #000000;
}

h2 {
    font-family: bacana, verdana, sans-serif;
    font-size: 10pt;
    color: #000000;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cursor-pointer {
    cursor: pointer;
}

.clearfix {
    clear: both;
    float: none;
}

.inline {
    display: inline;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

.footer, .push {
    height: 4em;
}

/* Global */
.global-wrapper {
    margin: 8px 8px;
    max-width: 1400px;
    min-height: 100%;
}

/* Top */

.header-wrapper {
    height: 110px;
}

.top-wrapper {
    max-width: 1400px;
}

.header-logo {
    width: 250px;
    height: 150px;
    position: absolute;
}

.header-right {

}

.login-buttons {
    height: 40px;
    max-width: 808px;
}

.login-buttons-connected {
    float: right;
}

.login-buttons-not-connected {
    float: right;
}

.navigation {
    margin-top: 15px;
}

.ul-navigation {
    margin: 0;
    list-style-type: none;
}

.ul-navigation li {
    margin-left: 50px;
    display: inline;
    font-family: basicl, verdana, sans-serif;
    font-size: 18pt;
    color: #000000;
}

.ul-navigation li a {
    width: 150px;
    color: black;
    text-decoration: underline;
    text-align: center;
    padding: 5px;
}

.ul-navigation li a:active {
    background-color: #000;
    color: #FFF;
}

.ul-navigation li a:hover {
    text-decoration: none;
}

.header-black-line {
    margin-top: 10px;
}

.header-black-image {
    width: 100%;
    height: 17px;
}

.black-button {
    border: 1px solid #616261;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7d7e7d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
    background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.black-button:hover {
    border: 1px solid #4a4b4a;
    background-color: #646464;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
    background-image: -webkit-linear-gradient(top, #646464, #282828);
    background-image: -moz-linear-gradient(top, #646464, #282828);
    background-image: -ms-linear-gradient(top, #646464, #282828);
    background-image: -o-linear-gradient(top, #646464, #282828);
    background-image: linear-gradient(to bottom, #646464, #282828);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#646464, endColorstr=#282828);
}

.connexion-button {
    width: 100px;
}

.connexion-button, .left-button {
    margin-left: 10px;
}

.main-wrapper {

    height: auto !important;
    height: 100%;
    margin: auto;
    margin-top: 10px;
}

.left-bar-wrapper {
}

.content-wrapper {
    min-width: 815px;
    margin-left: 250px;
}

/* Stage page */

.search-toolbar {
    height: 40px;
    margin: 0 0 5px 0;
}

.input-prepend {
    padding-top: 9px;
}

.input-search {
    width: 400px;
    padding: 8px 8px;
    background: rgba(253, 253, 253, 0.71);
    height: 16px;
}

.masonry {
    border: solid 1px #ccc;
    min-height: 500px;
    padding: 10px 10px;
    background: rgba(253, 253, 253, 0.71);
}

.masonry .masonry-brick {
    display: none;
    width: 200px;
    height: 215px;
    margin: 0 15px 15px 0;
    background: #f7f7f7;
    padding: 3px 3px;
    box-shadow: 1px 1px 4px #bbbbbb;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #e4e4e4;
}

.masonry-brick.loaded {
    display: block;
}

.masonry-brick .author-name {
    position: absolute;
    top: 30px;
    width: 164px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: andale Mono, monaco;
    font-weight: bold;
    text-transform: uppercase;
}

.masonry-brick .title-name {
    position: absolute;
    top: 0;
    width: 164px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: andale Mono, monaco;
}

.masonry-brick img {
    position: relative;
    top: 60px;
    width: 140px;
    height: 140px;
}

/* Css animations for search in stage page */
.masonry-animation.ng-leave {
    -webkit-animation: 0.8s my-animation;
    -moz-animation: 0.8s my-animation;
    -ms-transition: 0.8s my-animation;
    -o-animation: 0.8s my-animation;
    animation: 0.8s my-animation;
}

/* Leave */

@keyframes my-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes my-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes my-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes my-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.masonry .swr-drag-start {
    opacity: 0.9;
}

.add-to-playlist {
    width: 150px;
    height: 30px;
    margin-left: 5px;
    -webkit-transition: all 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.add-to-playlist.swr-drop-over {
    /* applied to a drop target when a draggable object is over it */
    opacity: 0.5;
}

.add-to-playlist.swr-drop-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    width: 200px;
    height: 36px;
}

[data-swr-draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: pointer;
}

.masonry .swr-select {
    border: solid 1px #444444;
    box-shadow: 5px 5px 2px #ababab;
    background: #f1f1f1;
    z-index: 2;
}
