@charset "UTF-8";
/* CSS Document */

/*For Boostrap UI*/
.nav, .pagination, .carousel a {
    cursor: pointer;
}

.ul-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ul-navigation li {
    margin-left: 2px;
    float: left;
    font-family: basicl, verdana, sans-serif;
    font-size: 18pt;
    color: #000000;
}

.ul-navigation li a {
    display: block;
    float: left;
    width: 150px;
    color: black;
    text-decoration: underline;
    text-align: center;
    padding: 5px;

}

.ul-navigation li a:active {
    background-color: #000;
    color: #FFF;
}

.ul-navigation li a:hover {
    text-decoration: none;
}

.ul-navigation li a:active {
    background-color: #000;
    color: #FFF;
}

h1 {
    font-family: bacana, verdana, sans-serif;
    font-size: 35pt;
    margin-top: 90px;
    margin-left: 50px;
}

p {
    margin-left: 200px;
    margin-top: 10px;
    float: left;
    display: block;
    height: 363px;
    width: 310px;
    font-family: andale mono, monaco, sans-serif;
    font-size: 12pt;
    color: #000000;
    text-align: justify;
}

h2 {
    font-family: bacana, verdana, sans-serif;
    font-size: 10pt;
    margin-right: 200px;
    margin-top: 65px;
    float: left;
    color: #000000;
    text-align: justify;
}

img.triangle {
    margin-top: 35px;
    padding-right: 10px;
}

img.radio {
    margin-left: 200px;
    margin-top: 105px;
}

img.play {
    margin-left: 620px;
    margin-top: 30px;
}

.enought {
    background: url("images/ENOUGH.png");
    margin-left: 200px;
    margin-top: 20px;
    size: 4%;
}

img.profil {
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.global_wrapper {
    position: relative;
    margin: 8px 8px;
}

.top_wrapper {
    height: 150px;
    position: relative;
    max-width: 1400px;
}

.header_logo {
    display: inline;
    width: 252px;
    height: 150px;
}

.login_top_button {
    display: inline;
    height: 20px;
    position: absolute;
    top: 0;
    left: 928px;
}

.navigation {
    display: inline;
    position: absolute;
    top: 50px;
    left: 270px;
    width: 770px;
}

.header_black_line {
    display: inline;
    position: absolute;
    top: 90px;
    left: 250px;
    right: 0;
    float: left;
    min-width: 785px;
}

.header_black_image {
    width: 100%;
    height: 17px;
}

.connexion_button {
    width: 100px;
    border: 1px solid #616261;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7d7e7d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
    background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
    background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.connexion_button:hover {
    border: 1px solid #4a4b4a;
    background-color: #646464;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
    background-image: -webkit-linear-gradient(top, #646464, #282828);
    background-image: -moz-linear-gradient(top, #646464, #282828);
    background-image: -ms-linear-gradient(top, #646464, #282828);
    background-image: -o-linear-gradient(top, #646464, #282828);
    background-image: linear-gradient(to bottom, #646464, #282828);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#646464, endColorstr=#282828);
}

.main_wrapper {
    position: relative;
    max-width: 1400px;
}

.left_bar_wrapper {
    display: inline;
    position: absolute;
    width: 200px;
    height: 100%;
}

.content_wrapper {
    display: inline;
    position: absolute;
    left: 250px;
    min-width: 785px;
    right: 0;
}

.searchedItems {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.input-search {
    width: 400px;
    padding: 8px 8px;
    margin: 15px 0;
    background: rgba(253, 253, 253, 0.71);
}

.masonry {
    border: solid 1px #ccc;
    min-height: 500px;
    padding: 10px 10px;
    background: rgba(253, 253, 253, 0.71);
}

.masonry .masonry-brick {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: solid 1px #ccc;
    margin: 0 0 10px 10px;
    background: #eee;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .masonry-brick
  class
*/
.masonry-brick.ng-enter {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.masonry-brick.ng-enter.ng-enter-active {
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .masonry-brick class
*/
.masonry-brick.ng-leave {
    -webkit-animation:0.5s my_animation;
    -moz-animation:0.5s my_animation;
    -o-animation:0.5s my_animation;
    animation:0.5s my_animation;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-moz-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-o-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}