<form class="form-horizontal"
      name="signUpForm"
      novalidate>

    <fieldset>
        <legend>Signup</legend>

        <div class="control-group">
            <label class="control-label"
                   for="inputName">Name:</label>

            <div class="controls">
                <input type="text"
                       id="inputName"
                       placeholder="Name"
                       ng-model="user.name">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"
                   for="inputLastName">Last Name:</label>

            <div class="controls">
                <input type="text"
                       id="inputLastName"
                       placeholder="Last Name"
                       ng-model="user.lastName">
            </div>
        </div>

        <div class="control-group"
             ng-class="{error: signUpForm.username.$dirty && signUpForm.username.$invalid}">
            <label class="control-label"
                   for="username">User Name:</label>

            <div class="controls">
                <input type="text"
                       id="username"
                       name="username"
                       placeholder="User Name"
                       ng-model="user.username"
                       required="true"
                       ng-minlength=3
                       ng-maxlength=255>
            </div>
        </div>

        <div class="control-group"
             ng-class="{error: signUpForm.email.$dirty && signUpForm.email.$invalid}">
            <label class="control-label"
                   for="email">Email:</label>

            <div class="controls">
                <input type="email"
                       name="email"
                       id="email"
                       placeholder="Email"
                       ng-model="user.email"
                       required="true">
            </div>
        </div>

        <div class="control-group"
             ng-class="{error: signUpForm.password.$dirty && signUpForm.password.$invalid}">
            <label class="control-label"
                   for="password">Password:</label>

            <div class="controls">
                <input type="password"
                       id="password"
                       name="password"
                       placeholder="Password"
                       ng-model="user.password"
                       required="true"
                       ng-minlength=3
                       ng-maxlength=255>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="createUser(signUpForm)"
                        ng-disabled="!signUpForm.$valid">
                    Sign Up
                </button>
            </div>
        </div>
    </fieldset>
</form>