<div class="top_wrapper">
    <header>
        <div>
            <div class="header_logo">
                <a href="/"><img src="images/little_logo.png" width="252px" height="150px"></a>
            </div>
            <div class="login_top_button">
                <button type="button" class="connexion_button" ng-click="logInLogOutClick()">{{ connexionButtonLabel }}</button>
            </div>

            <div class="navigation">
                <nav>
                    <ul class="ul-navigation">
                        <li><a href="/stage">STAGE</a></li>
                        <li><a href="replay">REPLAY</a></li>
                        <li><a href="topical">TOPICAL</a></li>
                        <li><a href="door">DOOR</a></li>
                        <li><a href="backstage">BACKSTAGE</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header_black_line">
                <img src="images/barre.png" class="header_black_image"/>
            </div>
        </div>
    </header>
</div>

