<div>
    <div>
        <h3>Your Playlists <i class="icon-music"></i></h3>
        <!--<span class="help-block">You can click on your playlists in order to add music to them.</span>-->
        <ul class="nav nav-pills"
            data-ng-show="userServices.isConnected()">
            <li ng-repeat="playlist in playlists"
                data-swr-select
                data-swr-select-class="active"
                ng-click="togglePlaylist(playlist.id)">
                <a> <i class="icon-headphones"></i> {{playlist.name}}</a>
            </li>
        </ul>
        <div data-ng-hide="userServices.isConnected()">
            <p>You have to be <a href="/login">connected</a> in order to save and create some playlists.</p>
        </div>
    </div>
</div>

<div class="search-toolbar">
    <div class="input-prepend">
        <span class="add-on center-block"><i class="icon-search"></i></span>
        <input class="input-search"
               type="text"
               placeholder="Type your search"
               ng-model="searchedTerm"
               delayed-input
               call-back="search()"
               delayed-time="300"/>
    </div>
    <img src="images/ajax-loader.gif"
         ng-show="isSearching">
    <button class="btn btn-inverse add-to-playlist"
            data-swr-drop-target="true"
            data-on-drop="dropped(droppedItems)"
            data-ng-show="userServices.isConnected()">Add to Playlist
    </button>
</div>

<div class="masonry"
     masonry="{transitionDuration: '0.6s'}">
    <div class="masonry-brick masonry-animation scale-animation"
         ng-repeat="item in searchedItems"
         data-swr-draggable="true"
         data-item-id="{{item.id}}"
         data-swr-select>
        <div class="title-name">{{item.title}}</div>
        <div class="author-name">{{item.user.username}}</div>
        <img class="img-polaroid center-block"
             ng-src="{{item.artwork_url}}"/>
    </div>
</div>

<script type="text/ng-template"
        id="createPlaylistModal.html">
    <div class="modal-header">
        <h3>You can create a playlist with your {{ items.length }} musics</h3>
    </div>
    <!--<div class="modal-body"
         ng-repeat="item in items">
        Selected: <b>{{ item.title }}</b>
    </div>-->
    <div class="modal-body">
        <form class="form-horizontal"
              name="createPlaylistForm"
              novalidate
              ng-submit="createPlaylist(createPlaylistForm)">

            <div class="control-group"
                 ng-class="{error: createPlaylistForm.playlistName.$dirty && createPlaylistForm.playlistName.$invalid}">
                <label class="control-label"
                       for="username">Playlist Name:</label>

                <div class="controls">
                    <input type="text"
                           id="playlistName"
                           name="playlistName"
                           placeholder="Playlist Name"
                           ng-model="playlist.name"
                           required="true"
                           ng-minlength=1
                           ng-maxlength=255>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary"
                        type="submit"
                        ng-disabled="!createPlaylistForm.$valid">Create
                </button>
                <button class="btn btn-warning"
                        ng-click="cancel()">Cancel
                </button>
        </form>
    </div>

</script>