<div data-ng-init="init()">
    <div>
        <h3>Your Playlists <i class="icon-music"></i></h3>

        <div data-ng-show="userServices.isConnected()">
            <ul class="nav nav-pills"
                data-ng-show="!playlists || playlists.length">
                <li ng-repeat="playlist in playlists"
                    data-swr-select
                    data-swr-select-class="active"
                    data-ng-click="togglePlaylist(playlist._id)">
                    <a> <i class="icon-headphones"></i> {{playlist.name}} ({{playlist.items.length}})</a>
                </li>
            </ul>

            <div data-ng-hide="!playlists || playlists.length">
                <p>You don't have playlist yet.</p>

                <p>You can create some by drag&dropping items or by clicking on Create a Playlist's button!</p>
            </div>
        </div>
        <div data-ng-hide="userServices.isConnected()">
            <p>You have to be <a href="/login">connected</a> in order to create and edit some playlists.</p>
        </div>
    </div>
</div>

<div class="search-toolbar">
    <div class="input-prepend">
        <span class="add-on center-block"><i class="icon-search"></i></span>
        <input class="input-search"
               type="text"
               placeholder="Type your search"
               data-ng-model="searchedTerm"
               swr-delayed-input
               swr-delayed-input-callback="search()"
               swr-delayed-input-delayed-time="300"/>
    </div>
    <img src="images/ajax-loader.gif"
         data-ng-show="isSearching">
    <button class="btn btn-inverse add-to-playlist"
            data-swr-drop-target="true"
            data-swr-drop-target-on-drop="dropped(droppedItems)"
            data-ng-click="clickOnCreateButton()"
            data-ng-show="userServices.isConnected()">
        {{ getButtonLabel() }}
    </button>
</div>

<div class="masonry"
     masonry
     column-width="200"
     masonry-options="{ transitionDuration: '0.6s', isInitLayout: false, gutter: 20 }">
    <div class="masonry-brick"
         ng-repeat="item in searchedItems"
         data-swr-draggable="true"
         data-item-id="{{item.id}}"
         data-swr-select
         data-swr-select-callback="toggleSelectItem(toggleItem)">
        <div class="title-name">{{item.title}}</div>
        <div class="author-name">{{item.user.username}}</div>
        <img class="img-polaroid center-block"
             data-ng-src="{{item.artwork_url}}"/>
    </div>
</div>

<script type="text/ng-template"
        id="createPlaylistModal.html">
    <div class="modal-header"
         data-ng-hide="!itemIds || itemIds.length">
        <h3>
            Create a new playlist!
        </h3>
    </div>
    <div class="modal-header"
         data-ng-show="!itemIds || itemIds.length">
        <h3>
            Create a new playlist with your {{ itemIds.length }} selected music!
        </h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal"
              name="createPlaylistForm"
              novalidate
              data-ng-submit="createPlaylist(createPlaylistForm)">

            <div class="control-group"
                 data-ng-class="{error: createPlaylistForm.playlistName.$dirty && createPlaylistForm.playlistName.$invalid}">
                <label class="control-label"
                       for="username">Playlist Name:</label>

                <div class="controls">
                    <input type="text"
                           id="playlistName"
                           name="playlistName"
                           placeholder="Playlist Name"
                           data-ng-model="playlist.name"
                           required="true"
                           data-ng-minlength=1
                           data-ng-maxlength=255>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"
                        type="submit"
                        data-ng-disabled="!createPlaylistForm.$valid">Create
                </button>
                <button class="btn btn-warning"
                        data-ng-click="cancel()">Cancel
                </button>
        </form>
    </div>
</script>