<div data-ng-init="init()"
     class="drop-musics">
    <div class="drop-musics-bar">
        <div>
            <div>
                <h3>Playlists <i class="glyphicon glyphicon-music"></i></h3>

                <div>
                    <ul class="nav nav-pills list-your-playlists"
                        data-ng-show="!playlists || playlists.length">
                        <li ng-repeat="playlist in playlists"
                            ng-class="{'active': playlist._id === selectedPlaylistId}"
                            data-swr-select
                            data-ng-click="selectPlaylist(playlist._id)">
                            <a><i class="glyphicon glyphicon-headphones"></i> {{playlist.name}}
                                ({{playlist.items.length}})</a>
                        </li>
                    </ul>

                    <div data-ng-hide="!playlists || playlists.length">
                        <p>No Playlists!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<style>
    .packery {
        background: #FDD;
        background: hsla(45, 100%, 40%, 0.2);
        max-width: 520px;
    }

    /* clearfix */
    .packery:after {
        content: ' ';
        display: block;
        clear: both;
    }

    .item {
        width: 40px;
        height: 40px;
        float: left;
        background: #C09;
        border: 4px solid #333;
        border-color: hsla(0, 0%, 0%, 0.3);
    }

    .item:hover {
        border-color: white;
        cursor: move;
    }

    .item.w2 {
        width: 80px;
        background: #9C0;
    }

    .item.h2 {
        height: 80px;
        background: #0C9;
    }

    .item.h4 {
        height: 160px;
        background: #C90;
    }

    .item.w4 {
        width: 160px;
        background: #90C;
    }

    .item.is-dragging,
    .item.is-positioning-post-drag {
        border-color: white;
        background: #09F;
        z-index: 2;
    }
</style>-->

<div class="masonry"
     data-masonry
     data-masonry-options="{ transitionDuration: '0' }"
     data-preserve-order
     data-item-selector=".masonry-brick-2"
     data-swr-sortable>
    <div class="masonry-brick-2"
         data-masonry-brick
         data-swr-sortable-brick
         data-ng-repeat="item in playlistItems"
         data-item-id="{{item.id}}">
        <a class="delete"
           href="">&times;</a>

        <div class="title-name">{{item.title}}</div>
        <div class="author-name">{{item.user.username}}</div>
        <img class="img-polaroid center-block"
             data-ng-src="{{item.artwork_url}}"/>
    </div>
</div>

<script>

</script>